.contact-text {
	p {
		color: $white;
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 20px;

		a {
			border-bottom: 1px solid $white;
			text-decoration: none;
		}
	}

	.meet {
		position: relative;

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:before {
			background-color: $white;
			content: '';
			height: 100%;
			left: 50%;
			position: absolute;
			width: 1px;
		}
	}
}
