.content {
	.big {
		font-size: 120%;
	}
}

.heading {
	&.line-through {
		isolation: isolate;
		position: relative;

		h2 {
			background: $blue;
			padding: 0 100px;
		}

		&:before {
			background: $white;
			content: '';
			height: 1px;
			left: 0;
			margin-top: -0.5px;
			position: absolute;
			top: 50%;
			width: 100%;
			z-index: -1;
		}
		&.white {
			&:before {
				background: $blue;
			}
		}
	}
}
