.exercise-text {
	@media (min-width: 575px) {
		max-width: 200px;
	}

	.cta {
		box-shadow: 3px 3px 2px black;
	}
}

.exercise-map {
	max-width: 575px;

	.map-exercise-ctas {
		.part {
			position: absolute;

			.cta {
				background: #fff;
				border: 1px solid #cc4e05;
				box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
				color: #cc4e05;
				font-size: 2.5vw;
				padding: 1vw 2vw;
				transition: all 0.3s ease;
				width: 140px;

				@media (max-width: 576px) {
					width: 25vw;
				}

				@media (min-width: 575px) {
					border-width: 2px;
					font-size: 14px;
					padding: 10px;
				}

				&:hover {
					background: #cc4e05;
					color: $white;
				}
			}

			.arrow {
				position: relative;

				@media (max-width: 576px) {
					img {
						height: auto;
						width: 10vw;
					}
				}
			}

			&.neck,
			&.elbow,
			&.lowerback,
			&.hip,
			&.foot {
				left: 5.5vw;

				@media (min-width: 575px) {
					left: 35px;
				}
			}

			&.shoulder,
			&.hand,
			&.knee {
				left: 47vw;

				@media (min-width: 575px) {
					left: 285px;
				}
			}

			&.neck {
				top: 13vw;

				@media (min-width: 575px) {
					top: 75px;
				}

				.arrow {
					top: 20px;
				}
			}

			&.elbow {
				top: 42vw;

				@media (min-width: 575px) {
					top: 265px;
				}

				.arrow {
					top: 15px;
				}
			}

			&.lowerback {
				top: 50vw;

				@media (min-width: 575px) {
					top: 315px;
				}

				.arrow {
					top: 15px;
				}
			}

			&.hip {
				top: 58vw;

				@media (min-width: 575px) {
					top: 360px;
				}

				.arrow {
					top: 15px;
				}
			}

			&.foot {
				bottom: 10vw;

				@media (min-width: 575px) {
					bottom: 35px;
				}

				.arrow {
					right: 15px;
					top: 30px;
				}
			}

			&.shoulder {
				top: 24vw;

				@media (min-width: 575px) {
					top: 135px;
				}
			}

			&.hand {
				top: 70vw;

				@media (min-width: 575px) {
					top: 425px;
				}

				.arrow {
					right: -13px;
				}
			}

			&.knee {
				top: 95vw;

				@media (min-width: 575px) {
					top: 575px;
				}
			}
		}
	}
}
