.form-control {
	background: #ededed;
	border: 0 none;
	border-bottom: 1px solid #000;
	border-radius: 0;

	&:hover,
	&:focus {
		background: #fff;
	}
}

.form-check-input {
	background: #ededed;
	border-color: $blue;

	&:hover {
		background: #fff;
	}
}

textarea.form-control {
	min-height: 120px;
}

.more-form {
	border: 1px solid $blue;

	.heading {
		background: $blue;
	}

	.img {
		width: 80px;
		height: 80px;
		img {
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
	}
}
