.clinic-gallery {
	.container-fluid {
		padding: 0px;

		img {
			display: block;
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		.gallery {
			display: flex;
			flex-wrap: wrap;
			gap: 12px;
			width: 100%;
		}

		.one {
			width: 49%;
		}

		.two {
			width: 49%;
		}

		.gallery__images-link {
			display: block;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;
		}

		.overlay {
			background-color: rgba(0, 0, 0, 0.5);
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transition: background-color 0.5s;
			width: 100%;
			z-index: 1;
		}

		.overlay:hover {
			background-color: transparent;
		}

		.gallery__images-small {
			transform: scale(1);
			transition: transform 0.4s;
		}

		.overlay:hover + .gallery__images-small {
			transform: scale(1.3);
		}

		.gallery__lightbox {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.9);
			display: flex;
			height: 100%;
			justify-content: center;
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: fixed;
			top: 0;
			transition: opacity 0.5s;
			width: 100%;
			z-index: 2;
		}

		.gallery__lightbox-content {
			height: 250px;
			position: relative;
			width: 80%;
		}

		.close,
		.back,
		.next {
			align-items: center;
			border-radius: 50%;
			display: flex;
			font-size: 20px;
			justify-content: center;
			position: absolute;
			text-decoration: none;
		}

		.close {
			background-color: #bd1e1e;
			color: #fff;
			height: 30px;
			right: 0;
			top: -20px;
			width: 30px;
		}

		.back,
		.next {
			background-color: #bdbec9a3;
			color: #000;
			height: 50px;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
		}

		.back {
			left: 0;
		}

		.next {
			right: 0;
		}

		.gallery__lightbox-image {
			border-radius: 4px;
			box-shadow: 1px 1px 5px 1px #320917, -1px -1px 5px 1px #320917;
		}

		.gallery__lightbox:target {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.parking-link {
	a {
		color: #00305b;
		font: 22px 'Libre Caslon Text', serif;
		text-decoration: underline;
	}
}
