.header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;

	.callnav {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.brand {
		padding-block: 8px;

		img {
			@media (max-width: 767px) {
				height: 54px;
				width: auto;
			}
		}
	}

	.asl_w_container {
		border-bottom: 1px solid rgba($blue, 0.4);
		display: none;
		margin-top: 0.5rem;
		width: 320px;

		@media (min-width: 1200px) {
			display: flex;
		}

		.probox,
		.asl_w {
			background: transparent !important;
			background-color: transparent !important;
			background-image: none !important;
			border: none !important;
		}

		input {
			border: 0;
			height: 36px;
			padding-block: 4px;

			&:focus {
				border: 0 none;
				outline: 0 none;
			}
		}

		button {
			color: $orange;
			flex: 0 0 36px;
			padding: 5px;
			width: 36px;
		}
	}

	@import 'navigation';
	@import 'hamBurger';
}
