.navsite {
	@media (max-width: 1200px) {
		background: #1a356d;
	}
}

.nav {
	li {
		font: 500 16px/1 $copy;
		margin-bottom: 0;
		padding: 10px 0;

		@media (max-width: 1200px) {
			border-bottom: 1px solid rgba(#fff, 0.25);
		}

		@media (min-width: 1201px) {
			padding: 15px;
		}

		@media (min-width: 1301px) {
			padding: 15px 30px;
		}

		a {
			color: $white;
			text-decoration: none;

			@media (max-width: 1200px) {
				padding: 0 10px;
			}

			@media (min-width: 1200px) {
				color: $black;
			}

			&:hover {
				color: $orange;
			}
		}

		&.current-menu-item {
			> a {
				color: $orange;
			}
		}

		&.has-sub,
		&.menu-item-has-children {
			position: relative;

			.sub-menu {
				background: #fff;
				display: none;
				list-style: none;
				margin-bottom: -10px;
				margin-top: 10px;
				padding: 0px;
				padding: 8px 6px;

				@media (min-width: 1201px) {
					box-shadow: 0px 5px 8px 1px rgba(#000, 0.25);
					left: 0;
					margin: 0;
					padding: 10px;
					position: absolute;
					top: 100%;
					white-space: nowrap;

					&:before {
						background: #fff;
						bottom: 100%;
						content: '';
						height: 10px;
						left: 0;
						position: absolute;
						width: 100%;
					}
				}

				li {
					padding: 8px 5px;

					@media (max-width: 1200px) {
						a {
							color: $black;
						}
					}
				}
			}

			@media (max-width: 1200px) {
				.arrow {
					height: 36px;
					position: absolute;
					right: 0;
					top: 0;
					width: 36px;
					z-index: 1;
				}
			}

			@media (min-width: 1201px) {
				&:hover {
					.sub-menu {
						display: block;
					}
				}
			}

			@media (max-width: 1200px) {
				&.clicked {
					.arrow {
						transform: rotate(180deg);
					}

					.sub-menu {
						display: block;
					}
				}
			}
		}

		&.active {
			> a {
				color: $orange;
			}
		}

		@media (min-width: 1201px) {
			&:last-child {
				padding-right: 0;
			}
		}
	}
}
