h1,
.h1 {
	color: $blue;
	font: 700 46px/1 $copy;

	@media (min-width: 768px) {
		font-size: 54px;
	}

	@media (min-width: 1201px) {
		font-size: 64px;
	}
}

h2,
.h2 {
	color: $blue;
	font: 22px $head;

	@media (min-width: 768px) {
		font-size: 24px;
	}

	@media (min-width: 1201px) {
		font-size: 36px;
	}
}

h3,
.h3 {
	color: $blue;
	font: 700 24px $copy;
}

p,
.p,
li {
	color: $black;
	font: 14px/1.5 $copy;

	@media (min-width: 768px) {
		font-size: 16px;
	}

	@media (min-width: 1201px) {
		font-size: 18px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

li {
	margin-bottom: 5px;
}

strong,
.fw-bold {
	font-weight: 700 !important;
}

.orange-text {
	color: $orange !important;
}

.blue-text {
	color: $blue !important;
}
