section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item {
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item:last-child {
    margin-bottom: 0;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-header {
    position: relative;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .icon-box {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E5EAEC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-header .icon-box img {
    max-width: 36px;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-header .accordion-button {
    position: relative;
    font-family: Lato, sans-serif !important;
    font-size: 19px;
    line-height: 1.2em;
    background-color: transparent;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    border: none;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-button:not(.collapsed) {
    padding: 15px 20px;
    background-color: #00305b;
    color: #fff;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-header .accordion-button.collapsed {
    background-color: #e5eaec;
    color: #00305b;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-button::after,
section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-button.collapsed::after {
    content: '\f077';
    font-family: "Font Awesome 6 Free";
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    transform: translate(-30px, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: #fff;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-button.collapsed::after {
    transform: translate(-30px, -50%) rotate(-180deg);
    color: #00305b;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-body {
    background-color: #00305b;
    padding: 0px 20px 30px 20px;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-body p,
section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-body ul li {
    color: #fff;
    margin: 0;
}

section.dexa-faq.physiotherapy .faq-items .accordion .accordion-item .accordion-button:not(.collapsed)::after {
    transform: translate(-30px, -50%) !important;
    content: '\f077';
    color: #fff;
}


/***  Our Services css 	***/

:root {
    --primary-color: #00305B;
    --secondary-color: #E5EAEC;
    --text-color: #606778;
    --accent-color: #033E5B;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --divider-color: #FFFFFF33;
    --dark-divider-color: #D4F0F533;
    --error-color: rgb(230, 87, 87);
    --default-font: "Sora", sans-serif;
    --accent-font: "Marcellus", serif;
}



.our-services {
    position: relative;
    background: #e5eaec;
    padding: 60px 0px;
    margin-top: 50px;
}

.our-services .head {
    text-align: center;
    margin-bottom: 60px;
}

.our-services .head h2 {
    margin: 0px;
}

/* .our-services::before {
    content: '';
    position: absolute;
    top: -380px;
    left: 0;
    right: 0;
    background: url('../images/service-bg-shape.svg') no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 50%;
    z-index: 0;
} */

/* .our-services::after {
    content: '';
    position: absolute;
    top: 40px;
    right: 0;
    background: url('../images/service-bg-cricle.svg') no-repeat;
    background-position: top right;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
} */

.our-services .section-row {
    position: relative;
    z-index: 1;
}

.service-item {
    position: relative;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    z-index: 1;
}

.service-item-image {
    position: relative;
    box-shadow: 0px 0px 30px 0px #00000026;
    border-radius: 10px;
    overflow: hidden;
}

.service-item-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black-color);
    opacity: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.service-item-image figure {
    margin: 0px;
}

.service-item-image img {
    aspect-ratio: 1 / 0.98;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.service-item:hover .service-item-image img {
    transform: scale(1.1);
}

.service-item .icon-box {
    position: absolute;
    top: 0;
    left: 30px;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.service-item .icon-box::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 20%;
    width: 100%;
    height: 100%;
}

.service-item .icon-box::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00305b;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    border-radius: 0 0 10px 10px;
}

.service-item:hover .icon-box::after {
    transform: scale(1.1);
}

.service-item .icon-box img {
    position: relative;
    max-width: 56px;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.service-item:hover .icon-box img {
    filter: brightness(0) invert(1);
}

.service-body {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 10px;
    z-index: 2;
}

/* .service-content {
    margin-bottom: 20px;
} */

.service-content h3 {
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px;
}

.service-content p {
    color: #fff;
    margin: 0;
    text-transform: capitalize;
}

.service-btn {
    margin-top: 20px;
}

.service-btn a {
    position: relative;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.service-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E5EAEC;
    opacity: 30%;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.service-btn a:hover:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00305B;
    width: 100%;
    height: 100%;
}

.service-btn a img {
    position: relative;
    max-width: 16px;
    z-index: 1;
}

.more-service-btn {
    position: relative;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

.more-service-btn a {
    font-family: var(--accent-font);
    font-size: 24px;
    color: #fff;
}

.more-service-btn a img {
    max-width: 24px;
    margin-left: 20px;
}



/*** About Us css ***/

.about-us-update {
    background: #e5eaec;
    padding: 60px 0px;
}

.about-us-update .about-content {
    position: relative;
    z-index: 1;
}

.about-us-update .section-title {
    margin-bottom: 60px;
}

.about-us-update .section-title h2 {
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
}

@media (min-width: 768px) {
    .about-us-update .about-content .section-title h2 {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .about-us-update .about-content-body {
        margin-bottom: 40px;
    }
}

.about-us-update .about-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-us-update .about-list-item:last-child {
    margin-bottom: 0;
}

.about-us-update .about-list-item .icon-box {
    position: relative;
    margin-right: 20px;
    width: 40px;
}

.about-us-update .about-list-item .icon-box::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.about-us-update .about-list-item .icon-box img {
    position: relative;
    max-width: 40px;
    z-index: 1;
}

.about-us-update .about-list-content {
    width: calc(100% - 50px);
}

.about-us-update .about-list-content p {
    /* font-weight: 600; */
    color: #00305B;
    text-transform: capitalize;
    margin: 0;
    font-size: 16px;
}

.about-us-update .about-trusted-customer {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 0px #0000001A;
    border-radius: 10px;
    padding: 25px;
}

.trusted-customer-image {
    margin-bottom: 15px;
}

.trusted-customer-image img {
    max-width: 160px;
}

.trusted-customer-rating {
    margin-bottom: 5px;
}

.trusted-customer-rating ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.trusted-customer-rating ul li i {
    font-size: 14px;
    color: #FF7D05;
}

.trusted-customer-content p {
    text-transform: capitalize;
    margin: 0;
}

.about-us-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    z-index: 1;
}

/* .about-image {
    width: calc(50% - 15px);
}

.about-image figure {
    box-shadow: 0px 0px 30px 0px #00000033;
}
*/
.about-image.img-box-1 figure,
.about-image.img-box-1 img {
    /* border-radius: 500px 0 0 0; */
    margin: 0px;
}

.about-image.img-box-2 figure,
.about-image.img-box-2 img {
    border-radius: 0 500px 0 0;
}

.about-image.img-box-3 figure,
.about-image.img-box-3 img {
    border-radius: 0 0 0 500px;
}

.about-image.img-box-4 figure,
.about-image.img-box-4 img {
    border-radius: 0 0 500px 0;
}

.about-circle-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px #0000004D;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

.about-us-images:hover .about-circle-logo {
    background-color: transparent;
}

.about-circle-logo::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}

.about-us-images:hover .about-circle-logo::before {
    transform: scale(1.1);
}

.about-us-images .about-circle-logo img {
    max-width: 85px;
    transition: all 0.4s ease-in-out;
}

.about-us-images:hover .about-circle-logo img {
    filter: brightness(0) invert(1);
}










/*** Care Rehabilitation css  ***/

.care-rehabilitation {
    background-color: #fff;
    padding: 60px 0px;
}


.care-rehabilitation .head {
    text-align: center;
    margin-bottom: 60px;
}

.care-rehabilitation .head h2 {
    margin: 0px;
}

@media (min-width: 992px) {
    .care-rehabilitation .row .col-lg-2 {
        width: 20%;
    }

    .care-rehabilitation.choose-us .row .col-lg-2 {
        width: 16.666%;
    }
}

.rehab-benefits-item {
    background-color: #00305B;
    border-radius: 10px;
    text-align: center;
    height: calc(100% - 20px);
    padding: 40px 10px;
}

.rehab-benefits-item .icon-box {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.rehab-benefits-item .icon-box::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.rehab-benefits-item .icon-box img {
    position: relative;
    max-width: 50px;
    z-index: 1;
}

.rehab-benefits-content p {
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    margin: 0px;
    font-weight: 700;
}



/*** Quality Treatment css ***/

.our-quality {
    background-color: #fff;
    position: relative;
    /* margin-bottom: 40px; */
}

.quality-treatment {
    /* background: linear-gradient(90deg, #fff 50%, transparent 50%), url(../images/neck-pain-pt1.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; */
    padding: 60px 0px;
    overflow: hidden;
}

/* .quality-treatment::before {
    content: '';
    position: absolute;
    bottom: 50px;
    right: 0;
    background: url('../images/quality-treatment-img-shape.svg') no-repeat;
    background-position: bottom right;
    background-size: auto;
    width: 100%;
    height: 100%;
} */

/* .quality-treatment::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(99%);
    background: #E5EAEC;
    border-radius: 0 0 200px 0;
    width: 200px;
    height: 100%;
} */

.quality-treatment-content {
    position: relative;
    width: 100%;
    /* max-width: 500px; */
    z-index: 1;
}

.quality-treatment-content .section-title {
    margin-bottom: 60px;
    text-align: center;
}

.quality-treatment-content .section-title h2 {
    margin: 0px;
}

.quality-treatment-body {
    margin-bottom: 40px;
}

.quality-treatment-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quality-treatment-body ul li {
    position: relative;
    color: var(--primary-color);
    text-transform: capitalize;
    padding-left: 30px;
    margin-bottom: 15px;
}

.quality-treatment-body ul li:last-child {
    margin-bottom: 0;
}

.quality-treatment-body ul li:before {
    content: '\f058';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 18px;
    color: #00305B;
    display: inline-block;
    line-height: normal;
    position: absolute;
    top: 2px;
    left: 0;
}

.quality-treatment-footer .btn-default {
    background-color: #FFFFFF;
}

.quality-treatment-footer .btn-default span::after {
    background-color: #FFFFFF;
}

.quality-service .service-box {
    background: #e5eaec;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 14px;
    height: 100%;
}

.quality-service .service-box h3 {
    text-align: center;
    margin-bottom: 0px;
}

.quality-service .service-box .image {
    height: 190px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
}

.quality-service .service-box img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.quality-service .service-box p {
    color: #00305B;
    /* text-transform: capitalize; */
    margin: 0;
    font-size: 20px;
    text-align: center;
}




.btn-default {
    position: relative;
    display: inline-flex;
    line-height: 1.2em;
    background: #E5EAEC;
    text-transform: capitalize;
    border-radius: 100px;
    padding: 2px 25px 2px 2px;
    border: none;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.btn-default:hover {
    background-color: transparent;
}

.btn-default::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-image: url('../images/arrow-blue.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    transform: translate(-10px, -50%);
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.btn-default:hover:before {
    filter: brightness(0) invert(1);
    transform: translate(-10px, -50%);
}

.btn-default::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: 100px;
    background: #00305B;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.btn-default:hover::after {
    width: 100%;
}

.btn-default span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    background-color: #00305B;
    color: #e5eaec;
    border-radius: 100px;
    padding: 15px 20px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.btn-default:hover span {
    background-color: transparent;
    color: var(--primary-color);
}

.btn-default span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: 100px;
    background: #E5EAEC;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.btn-default:hover span::after {
    width: 100%;
}

.quality-treatment-footer .btn-default {
    background-color: #FFFFFF;
}

section.services-home.physiotherapy {
    margin-top: 0px !important;
    padding-top: 3rem !important;
}

section.services-home.physiotherapy .testimonial-block {
    padding-bottom: 0px;
}

.dexa-hero.our-clinic {
    background: transparent !important;
    padding: 0px;
}

.dexa-hero.our-clinic .hero-slider-wrap:hover {
    transform: translateY(0px);
}

.dexa-hero.our-clinic .hero-slider-wrap {
    border-radius: 0px;
    margin-top: 0px;
    box-shadow: none;
    background: #e5eaec;
    padding: 60px 0px;
}

.dexa-hero.our-clinic .hero-slider-wrap .hero-slider {
    padding: 0px;
}

.dexa-hero.our-clinic .hero-slider-wrap .hero-slider .hero-slide:hover {
    transform: scale(1);
    box-shadow: none;
}

.dexa-hero.our-clinic .hero-slider-wrap .hero-slider .hero-slide a:hover::after {
    opacity: 0;
}

.dexa-hero.our-clinic .hero-slider-wrap .hero-slider .hero-slide a:hover p {
    transform: translateY(0px);
}

/* .dexa-hero.our-clinic .hero-slider-wrap .hero-slider .hero-slide a:hover img {
    transform: scale(1);
    filter: brightness(100%);
} */

.dexa-hero.our-clinic .hero-slider-wrap .hero-slider .hero-slide a p {
    color: #00305B;
    letter-spacing: normal;
    text-transform: capitalize;
}

.dexa-hero.our-clinic .hero-slider-wrap .hero-slider .hero-slide {
    box-shadow: none;
}

@media (min-width:768px) {
    .dexa-hero.our-clinic .hero-slider-wrap .hero-slider .owl-stage {
        display: flex;
    }

    .dexa-hero.our-clinic .hero-slider-wrap .hero-slider .owl-stage .owl-item {
        display: flex;
        flex: 1 0 auto;
    }

    .pad-scroll .img img {
        width: 232px;
        height: 227px;
        object-fit: contain;
    }
}

.dexa-hero.our-clinic:after {
    display: none;
}

.dexa-hero.our-clinic .hero-slider-wrap .head {
    margin-bottom: 60px;
    text-align: center;
}

.dexa-hero.our-clinic .hero-slider-wrap .head h2 {
    margin: 0px;
}

/* section.dexa-hero.therapy-hero {
    padding: 6.15% 0px 4% 0px;
} */


section.dexa-hero.therapy-hero .book-now {
    margin-bottom: 77px;
}

.book-now.therapy-types {
    margin-bottom: 0px;
}

section.dexa-faq.physio-faq {
    padding-bottom: 5%;
}

.text-cta-wrap {
    margin-top: 15px;
}

.text-cta-wrap p,
.text-cta-wrap h3 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;

}

.text-cta-wrap .book-now {
    margin-top: 10px
}

.text-cta-wrap .book-now a {
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 50px;
}

.dexa-hero .hero-slider-wrap .hero-slider .hero-slide {

    width: 100%;
}


@media (max-width:767px) {
    .quality-service .row {
        gap: 40px;
    }

    .quality-service .service-box img {
        height: 100%;
        max-width: 60%;
    }

    .quality-service .service-box .image {
        justify-content: center;
        margin: 20px 0px;
        height: auto;
    }

    .pad-scroll .img {
        text-align: center;
    }

    .pad-scroll .img img {
        max-width: 50%;
    }

    .dexa-hero.our-clinic .hero-slider-wrap,
    .quality-treatment,
    .about-us,
    .care-rehabilitation,
    .our-services {
        padding: 40px 0px;
    }

    .dexa-hero.our-clinic .hero-slider-wrap .head,
    .quality-treatment-content .section-title,
    .about-us .section-title,
    .care-rehabilitation .head,
    .our-services .head {
        margin-bottom: 40px;
    }
}



.massage-therapy-copy h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}

.massage-therapy-copy p {
    font-style: normal;
    font-weight: 300;
}